@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body {
  margin: 0;
  font-family: 'Roboto',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  overflow-x: hidden !important;
}

code {
  font-family: 'Roboto',
  sans-serif;
}


@media (max-width: 800px){
  body::-webkit-scrollbar {
    display: none;
  }
}

